<?xml version="1.0" encoding="UTF-8"?>
<Configuration monitorInterval="30">

    <Appenders>
        <Console name="STDOUT">
            <PatternLayout>
                <pattern>[%d{dd.MM.yyyy HH:mm:ss}] %5p %c{1.} [%t] - %m%n</pattern>
            </PatternLayout>
        </Console>
    </Appenders>

    <Loggers>

        <!-- The default Logger-->
        <Root level="DEBUG">
            <AppenderRef ref="STDOUT"/>
        </Root>
    </Loggers>

</Configuration>
